input[type="text"] {
  background-color: antiquewhite;
  border: none;
  padding: 0.5rem 1rem;
}
input:focus[type="text"] {
  background-color: blueviolet;
  color: white;
}
input:focus[type="checkbox"] {
  outline: 3px red solid;
}
.liste li:first-child {
  font-weight: bold;
}
.liste li:nth-child(3) {
  color: red;
}
.price-list tr:nth-child(odd) {
  background-color: aquamarine;
}
.price-list tr:nth-child(even) td:last-child {
  background-color: rgb(207, 250, 246);
}
