.about::first-letter {
  font-size: 2rem;
}
.about::first-line {
  color: red;
}
.about::selection {
  background-color: aqua;
}
.liste li::marker {
  color: blue;
  font-size: 2rem;
}
.about span {
  color: blue;
}
.about span::before {
  content: "🔥";
}
.about span::after {
  content: "<<";
}
